/.idea
/Software Architecture/Dependency Injection/CSharp/DependencyInjection/DependencyInjection/bin/Debug
/Software Architecture/Dependency Injection/CSharp/DependencyInjection/DependencyInjection/obj/Debug/DependencyInjection.csproj.FileListAbsolute.txt
/Software Architecture/Dependency Injection/CSharp/DependencyInjection/DependencyInjection/obj/Debug/DependencyInjection.exe
/Software Architecture/Dependency Injection/CSharp/DependencyInjection/DependencyInjection/obj/Debug/DependencyInjection.pdb
/Software Architecture/Dependency Injection/CSharp/DependencyInjection/DependencyInjection.v11.suo
